<body>
     <form method="post" action="/login">
        <p>
            一、甲委託乙管理甲所有而坐落於墾丁青蛙石附近之A屋，乙因此將A屋以自己之名義出租予丙，並以經營民宿為其約定之使用方法。乙與丙同時約定，租金每月新臺幣100萬元，租期10年。此一租約並已經法院公證。
            丙在徵得乙之同意下，於A屋頂樓架設一座望遠鏡，以供房客夜晚觀星之用。此一極具浪漫情調之觀星處所，乃成為丙吸引房客前來入住之重要亮點。然而，卻因A屋至頂樓陽臺樓梯設計上之缺陷，以致造成房客丁自頂樓陽臺不慎墜落而致重傷，完全喪失工作能力。乙於事後商請專業之建築師對該有缺陷之樓梯進行改善，使丙民宿之經營未因丁之受傷而遭受重大影響。
            A屋至頂樓陽臺樓梯之缺陷雖已改善，不料，幾年之後，鄰地所有人卻在A屋前方興建一座十五層樓的大廈，完全遮蔽A屋觀星之視野，A屋之住房率因此一落千丈，最終只得以歇業收場。然而在丙歇業時，乙與丙間之租約尚餘1年之租期，丙認為乙已無法履行提供合於約定使用收益狀態之給付義務，所以丙應得免除該1年租金之支付。
            稍後，甲因全家移民國外，所以急欲將A屋脫手，最後由戊自甲處取得A屋之所有權。戊於取得所有權後，乃即刻向丙請求返還A屋，丙則以其與乙間之租約尚有半年始行屆滿為抗辯。試問：
             <br>（二）甲、乙、丙三人，何人應對丁之重傷負損害賠償責任？（25分）<br>
             <br>請輸入你的答案<br>


         <input type="text" name="Answer">
         <button type="submit">Submit</button>
     </form>
</body>

